.jumbotron{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	max-width: 450px;
	text-align: center;
	border-radius: 12px;
	color: rgb(94, 94, 94);
	padding: 50px;
	margin-top: 25px;
}

body{
  background-image: url("../img/Background-image.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
   background-size: cover;
}


/*Set background to white and centers the text*/
.table tr,
.table td,
.table th {
    background-color: white !important;
    text-align: center;
    word-wrap: break-word;
	min-width: 160px;
	max-width: 160px;
}
/*This is used to do the scrolling action on the table*/
.table-wrapper-scroll-y {
display: block;
max-height: 250px;
overflow-y: auto;
-ms-overflow-style: -ms-autohiding-scrollbar;
}