.jumbotron{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	max-width: 450px;
	text-align: center;
	border-radius: 12px;
	color: rgb(94, 94, 94);
	padding: 50px;
	margin-top: 25px;
}

body{
  background-image: url("../img/Background-image.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
   background-size: cover;
}